<aside class="aside">
    {{> balance incomes=balance.incomes expenses=balance.expenses total=balance.total  }}
</aside>
<section class="view">
{{> pageTitle }}
{{> transactions datasource=model}}


</section>


