<section class="view">
    {{> balance datasource=balancePartial }}
    {{> pageTitle }}
    {{> transactions datasource=transactions}}

    {{#> modal title="Nova Transação" id="modalRegisterTransaction"}}
      {{> addAndEditTransactionForm}}
    {{/modal}}

    {{#> modal title="Nova Transação" id="modalEditTransaction"}}
      {{> addAndEditTransactionForm datasource=model}}
    {{/modal}}
</section>



