<section class="view">
    {{> balance datasource=balancePartial }}
    {{> pageTitle }}
    {{> transactions datasource=transactions}}
    {{#> modal title="Nova Transação" id="modalRegisterTransaction"}}
      {{> addAndEditTransactionForm}}
    {{/modal}}
</section>


