<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel='stylesheet' href='/css/style.css' />

  </head>
  <body>
    <main class='page'>
      <header class='hero'>
        <h1>My Budget</h1>
        {{> navbar}}

      </header>
      <section class='content'>
        {{{body}}}
      </section>
      <footer class='footer'>
        <p>&copy; 2023 - My Buget</p>
      </footer>
    </main>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/transaction.js"></script>
  </body>
</html>