<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main class='page'>
      <header class='hero'>
        <h1>My Budget</h1>
      </header>
      <aside>
        <nav class='menu'>
          <a href='/transaction'>Minhas Transações</a>
          <a href='/projection'>Minhas Pojeçoes</a>
        </nav>
      </aside>
      <section class='content'>
        {{{body}}}
      </section>
      <footer>
        <p>&copy; 2023 - My Buget</p>
      </footer>
    </main>
  </body>
</html>