:root {
  --c-white: #fff;
  --c-black: #000;
  --c-primary: #f6f7eb;
  --c-secondary: #393e41;
  --c-tertiary: #e94f37;
  --c-secondary-light: rgba(57, 62, 65, 0.5);
  --c-tertiary-light: rgb(233, 79, 55, 0.5);
}
