<div class='modal' id='{{this.id}}'>
  <section class='body'>
    <header class='title'>
      {{this.title}}
      <button id="closeModal" class='close'>
        <i class="material-symbols-outlined">close</i>
      </button>
    </header>
    {{> @partial-block}}
  </section>
</div>