<form
  method='post'
  action='/transaction/create'
  id='registerTransactionForm'
  class='form'
>
  <fieldset>
    <div class='field'>
      <label>Descrição</label>
      <input type='text' name='label' placeholder='Descrição' required />
    </div>
    <div class='field'>
      <label>Valor</label>
      <input
        type='number'
        step='any'
        name='value'
        placeholder='Preço'
        required
      />
    </div>
    <div class='field'>
      <label>Categoria</label>
      <select name='categories' required>
        <option value=''>- Categoria -</option>
        <option>Alimentação</option>
        <option>Conforto</option>
        <option>Educação</option>
        <option>Lazer</option>
        <option>Moradia</option>
        <option>Outros</option>
        <option>Saúde</option>
        <option>Transporte</option>
        <option>Vestuario</option>
        <option>Viagem</option>
        <option>Presente</option>
      </select>
    </div>
    <div class='field'>
      <label>Data</label>
      <input type='date' name='dueDate' required />
    </div>
    <div class='field'>
      <label>Tipo</label>
      <div class='radioList'>
        <div class='radioItem'>
          <label class='radioLabel income'><input
              type='radio'
              name='type'
              value='Receita'
              required
            />
            <i class='material-symbols-outlined'>
              arrow_circle_up
            </i>
            Entrada</label>
        </div>
        <div class='radioItem'>
          <label class='radioLabel expense'><input
              type='radio'
              name='type'
              value='Despesa'
            />
            <i class='material-symbols-outlined'>
              expand_circle_down
            </i>
            Saída</label>
        </div>
      </div>
    </div>
    <div class='field'>
      <button type='submit'>Cadastrar</button>
    </div>

  </fieldset>
</form>