.balance {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  .values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    flex-direction: column;
    li {
      flex: 1;
      background: #fff;
      padding: 1rem;
      position: relative;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      h6 {
        font-size: 1rem;
        margin: 0 0 1rem;
        strong {
          font-weight: 500;
        }
      }

      p {
        font-size: 2rem;
        margin: 0;
        color: var(--c-tertiary);
      }

      i {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
      }

      &.incomes {
        background-color: var(--c-white);
        p,
        h6,
        i {
          color: var(--c-green);
        }
      }

      &.expenses {
        background-color: var(--c-white);
        p,
        h6,
        i {
          color: var(--c-red);
        }
      }
      &.total {
        background-color: var(--c-secondary);
        color: var(--c-white);
        p {
          color: var(--c-white);
        }
      }
    }
    @include medium {
      flex-direction: row;
    }
    @include large {
      gap: 2rem;
      li {
        padding: 2rem;
        h6 {
          font-size: 1.5rem;
        }
        p {
          font-size: 3rem;
        }
      }
    }
  }

  @include large {
    overflow: none;
    overflow-x: none;
  }
}
