.form {
  background-color: var(--c-white);
  padding: 1rem;
  border-radius: 4px;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    margin: auto;
  }
  label {
    display: none;
  }
  input,
  select {
    padding: 0.5rem;
    width: 100%;
  }
  button {
    padding: 1rem 1rem;
    width: 100%;
    border: none;
    background-color: var(--c-secondary);
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: linear 0.3s;
    &:hover {
      background-color: var(--c-tertiary);
    }
  }

  .twoButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    button {
      width: 25%;
    }

    a {
      display: block;
      padding: 1rem;
    }
  }

  .radioList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .radioLabel {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background-color: var(--c-primary);
      color: var(--c-secondary);
      padding: 1rem;
      position: relative;
      cursor: pointer;
      border-radius: 0.25rem;
      &.income {
        i {
          color: var(--c-green);
        }

        &.checked {
          background-color: var(--c-green);
          color: #fff;
          i {
            color: #fff;
          }
        }
      }
      &.expense {
        i {
          color: var(--c-red);
        }
        &.checked {
          background-color: var(--c-red);
          color: #fff;
          i {
            color: #fff;
          }
        }
      }

      input {
        width: auto;
        opacity: 0;
        position: absolute;
      }
    }
    .radioItem {
      width: 100%;
    }
  }
}
