.menu {
  display: flex;
  gap: 0.25rem;
  a {
    color: var(--c-white);
    text-decoration: none;
    transition: linear 0.3s;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 0.25rem;
    &:hover {
      background-color: var(--c-secondary);
    }
  }
}
