.transactions {
  background-color: var(--c-white);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    input[type='search'] {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--c-silver);
      color: #fff;
      border-radius: 4px;
      &::placeholder {
        color: #fff;
      }
    }
    button {
      display: flex;
      padding: 0.8rem;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: var(--c-tertiary);
      color: #fff;
      border-radius: 4px;
    }
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: var(--c-primary);
      padding: 0.5rem;
      border-bottom: 1px solid var(--c-primary-dark);
      flex-direction: column;
      p {
        margin: 0;
        a {
          text-decoration: none;
          font-weight: 500;
        }
        &.price {
          color: var(--c-green);
          &.negativo {
            color: var(--c-red);
          }
        }
      }

      @include medium {
        padding: 1rem;
        flex-direction: row;
        p {
          &.label {
            width: 35%;
          }
          &.price {
            width: 20%;
            text-align: right;
          }
          &.categories {
            width: 20%;
            text-align: center;
          }

          &.type {
            width: 20%;
            text-align: center;
          }
          &.dueDate {
            width: 10%;
            text-align: right;
          }
        }
      }
    }
  }

  @include large {
    padding: 2rem;
  }
}
